body{
    background-color: rgb(19, 35, 43);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    overflow: hidden;
}
.title{
    text-align: center;
    color: rgb(49, 49, 49);
    font-size: 48px;
}
.subtitle{
    text-align: center;
    color:slategray;
    font-size: 20px;
    margin-top: -1%;
}
.inner{
    width: 840px;
    margin: 2% auto;
    background-color:  slategray;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
}
.textarea{
    width: 640px;
    height: 200px;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 1% auto;  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  slategray;
    color: rgb(49, 49, 49);
    transition: 0.2s;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid  black;
    color: rgb(49, 49, 49);
}
.active{
    color:slategray ;
    text-shadow:15px rgb(24, 56, 88);
    background-color: rgb(49, 49, 49);
    cursor: pointer;
    border-color:rgb(49, 49, 49);
    box-shadow: 0 0 15px red;
    text-align: center;
    transition: all 0.3s linear;   
}
.btn:hover,
.btn:active
{
    background-color: rgb(49, 49, 49);
    color:slategray ;
    cursor: pointer;
}
.back-space{
    width:100px ;
    text-align: center;
}
.tab{
    width: 90px;
}
.caps-lock{
    width:100px ;
}
.alt,
.ctrl{
    width: 85px;
}
.enter{
    width: 115px;
}
.shift{
    width: 130px;
}
.space{
    width: 465px;  
}
